.card-img-top {
    height: 200px; /* Set a fixed height for the images */
    width: 100%;   /* Allow the width to fill the container */
    object-fit: cover; /* Ensure the image covers the entire container, preserving aspect ratio */
  }

.card-color {
    background-color: #eaeaeaea;
  }